---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | Appfrosch" description="About Appfrosch Indy Development">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by."
			>
				<!-- <img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/> -->
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Developer at a mid-sized company working on the company's tools for resource planning at day,
						tinkerer and dabbler in all delevepment related stuff on Apple platforms at night and on weekends.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">App Development</h2>
				<div>
					<p>
						I have been interested in creating apps for iOS and macOS for a long time. 
						I have started numerous projects. Some of them for personal use only, some of them with the potential 
						of being useful for others as well.<br />
						Even though not all of these projects were brought to a larger audience (yet), I learnt (and still learn) a little something with any of them,
						enabling me to be more productive and effective in the next project I tried. Some of theses projects I still 
						actively work on.
					</p>
					<br />
					<p>
						I am now at a stage were some of these projects are getting to a stage were I feel comfortable showing them to a larger audience.
					</p>
				</div>
			</section>
		</main>

		<!-- <ContactCTA /> -->
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
